<div class="top">
<h1>Add Player</h1>
</div>

<div class="left">
<form action="/home/create_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong><u>Player Name:</u></strong></p>
    <p><input type="text" name="name"></p>
        
  <p><strong><u>Player Number:</u></strong></p>
    <p><input type="number" name="number"></p>

<div class="position"> 
  <p><strong><u>Player Position:</u></strong></p>
    <p><select name="position_ids[]" multiple size="10">
      <option value="1">QB</option>
      <option value="2">RB</option>
      <option value="3">WR</option>
      <option value="4">TE</option>
      <option value="5">FB</option>
      <option value="6">DE</option>
      <option value="7">OLB</option>
      <option value="8">MLB</option>
      <option value="9">CB</option>
      <option value="10">S</option>
   </select></p>
</div>
      
  <p><strong><u>Health Status:</u></strong></p> 

  <%= select_tag(:status_id, options_for_select([['Healthy', 1], ['Probable', 2], ['Doubtful', 3], ['Injured Reserve', 4]])) %> 
  
  <br>
  
  <p><h5>Click the submit button to add the player to your roster.</h5></em></p>

  <p><input id="submit" type="submit"></p>
</form>
</div>

<p><h3><a href="/home" title="Home">Return To Homepage</a></h3></p>  
