<h1>Create New Player</h1>

<form action="/create_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong>Player Name:</strong></p>
    <p><input type="text" name="name"></p>
        
  <p><strong>Player Position:</strong></p>
    <p><input type="text" name="position"></p>
    
  <br>
  
  <p><h5>Click the submit button to enter the player to the database.</h5></em></p>

  <p><input type="submit"></p>
</form>