<h1>Delete Player</h1>

<form action="/delete_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong>Player ID:</strong></p>
    <p><input type="number" name="id"></p>
    
  <br>
  
  <p><h5>Click the submit button to delete the player to the database.</h5></em></p>

  <p><input type="submit"></p>
</form>