<div class="top">
<h1>Delete Player</h1>
</div>

<div class="left">
<form action="/delete_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong>Player Name:</strong></p>
    <p><input type="text" name="name"></p>
    
  <br>
  
  <p><h5>Click the submit button to delete the player from your roster.</h5></em></p>

  <p><input id="submit" type="submit"></p>
</form>
</div>

<p><h3><a href="/home" title="Home">Return To Homepage</a></h3></p>  
