<div class="top">
<h1>Find Player Results</h1>
</div>

<div class="left">
<p id="players"><%= @player.name %>, <%= @player.position %></p>
</div>

<p><h3><a href="/home" title="Home">Return To Homepage</a></h3></p>  
