<div class="top">
<h1>Find Player</h1>
</div>

<div class="left">
<form action="/home/find_player_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong>Player Name:</strong></p>
    <p><input type="text" name="name"></p>
    
  <br>
  
  <p><h5>Click the submit button to search for that player.</h5></em></p>

  <p><input id="submit" type="submit"></p>
</form>
</div>

<p><h3><a href="/home" title="Home">Return To Homepage</a></h3></p>  
