<div class="top">
<h1>Roster Manager</h1>
</div>

<div class="links">
<p><h3><a href="/home/create" title="Create Player">Add New Player</a></h3></p>  

<p><h3><a href="/home/delete" title="Delete Player">Delete Player</a></h3></p>  

<p><h3><a href="/home/find_player" title="Find Player">Find Player</a></h3></p>  

<p><h3><a href="/home/players" title="All Players">Show All Players</a></h3></p>  

<p><h3><a href="/home/update_player" title="Update Player">Update Player</a></h3></p>  
</div>
