<div class="top">
<h1>Roster Manager</h1>
</div>

<p><h3><a href="/create" title="Create Player">Add New Player</a></h3></p>  

<p><h3><a href="/delete" title="Delete Player">Delete Player</a></h3></p>  

<p><h3><a href="/find_player" title="Find Player">Find Player</a></h3></p>  

<p><h3><a href="/players" title="All Players">Show All Players</a></h3></p>  

<p><h3><a href="/update_player" title="Update Player">Update Player</a></h3></p>  

