<h1>Update Player</h1>

<form action="/update_player_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong>Old Name:</strong></p>
    <p><input type="text" name="name"></p>
        
  <p><strong>New Name:</strong></p>
    <p><input type="text" name="update"></p>
    
  <br>
  
  <p><h5>Click the submit button to update the player.</h5></em></p>

  <p><input type="submit"></p>
</form>