<div class="top">
<h1>Update Player</h1>
</div>

<div class="left">
<form action="/home/update_player_results" method="post">
  <p><h4>Please enter the following information:</h4></p>
  
  <p><strong><u>Player Name:</u></strong></p>
    <p><input type="text" name="name"></p>
        
  <p><strong><u>Updated Health Status:</u></strong></p> 
      <select name="status_id">
        <option value="1">Healthy</option>
        <option value="2">Probable</option>
        <option value="3">Doubtful</option>
        <option value="4">Injured Reserve</option>
      </select>
       
  <br>
  
  <p><h5>Click the submit button to update the player.</h5></em></p>

  <p><input id="submit" type="submit"></p>
</form>
</div>

<p><h3><a href="/home" title="Home">Return To Homepage</a></h3></p>  
